Repository julianburr/julianburr.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add more til
  src/pages/my-work/blog/how-to-use-semantic-versioning-for-your-apps.md
  src/pages/til/__DRAFT__cypress-and-e2e-tesing.md
  src/pages/til/__DRAFT__cypress-and-e2e-testing.md
  src/pages/til/__DRAFT__e2e-testing-frameworks.md
  src/pages/til/__DRAFT__git-branch.md
  src/pages/til/__DRAFT__git-reflog.md
  src/pages/til/__DRAFT__lighthouse-user-stories.md
  src/pages/til/__DRAFT__why-code-formatting-matters.md
  src/pages/til/black-lives-matter.md
  src/pages/til/git-branch.md
  src/pages/til/git-reflog.md
  src/pages/til/lerna-and-yarn-workspaces.md
  src/pages/til/lighthouse-user-stories.md
  src/pages/til/running-lighthouse-in-node.md
  src/pages/til/share-your-knowledge.md
  src/pages/til/why-code-formatting-matters.md
  src/pages/til/writing-good-commit-messages.md
  src/theme/index.ts
Due: eslint --fix, prettier --write

fix: fix ts issues
  src/components/world-map.tsx
Due: eslint --fix

feat: add image gallery + start adding travel details
  gatsby-node.js
  src/components/image-gallery.tsx
  src/components/navigation.tsx
  src/components/world-map.tsx
  src/layouts/index.tsx
  src/pages/around-the-world.tsx
  src/pages/around-the-world/new-zealand/auckland.md
  src/templates/page-gallery.tsx
  src/theme/index.ts
Due: eslint --fix, prettier --write

fix: fix build issue
  src/components/image-gallery.tsx
Due: eslint --fix

ci: fix main workflow
  .github/workflows/main.yml
Due: prettier --write

ci: fix production deployment name
  .github/workflows/main.yml
Due: prettier --write

fix: fix type error
  src/components/image-gallery.tsx
Due: eslint --fix

fix: add some accessibility fixes and improvements
  gatsby-config.js
  package.json
  src/components/graphics/moving-in.tsx
  src/components/navigation.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Add some accessibility fixes and improvements (#9)
  gatsby-config.js
  package.json
  src/components/graphics/moving-in.tsx
  src/components/navigation.tsx
  src/pages/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: attempt to fix mapbox issue
  src/components/world-map.tsx
Due: eslint --fix

feat: update core content + fix card grids
  src/components/card.tsx
  src/pages/curriculum-vitae.tsx
  src/pages/curriculum-vitae/expeedo.md
  src/pages/curriculum-vitae/femaso.md
  src/pages/curriculum-vitae/freelancing.md
  src/pages/curriculum-vitae/rexlabs.md
  src/pages/curriculum-vitae/sapient-nitro.md
  src/pages/my-work.tsx
  src/pages/my-work/projects/vivid-and-luna.md
  src/pages/til/__DRAFT__flip-animations.md
  src/pages/til/__DRAFT__taking-time-off.md
  src/pages/til/__DRAFT__virtual-lists-and-rendering-in-react.md
  src/pages/til/flip-animation-technique.md
  src/pages/til/getting-started-with-gatsby.md
  src/pages/til/taking-time-off.md
  src/pages/til/virtual-lists-and-rendering-in-react.md
Due: eslint --fix, prettier --write

Update core content + fix card grids (#10)
  src/components/card.tsx
  src/components/world-map.tsx
  src/pages/curriculum-vitae.tsx
  src/pages/curriculum-vitae/expeedo.md
  src/pages/curriculum-vitae/femaso.md
  src/pages/curriculum-vitae/freelancing.md
  src/pages/curriculum-vitae/rexlabs.md
  src/pages/curriculum-vitae/sapient-nitro.md
  src/pages/my-work.tsx
  src/pages/my-work/projects/vivid-and-luna.md
  src/pages/til/__DRAFT__flip-animations.md
  src/pages/til/__DRAFT__taking-time-off.md
  src/pages/til/__DRAFT__virtual-lists-and-rendering-in-react.md
  src/pages/til/flip-animation-technique.md
  src/pages/til/getting-started-with-gatsby.md
  src/pages/til/taking-time-off.md
  src/pages/til/virtual-lists-and-rendering-in-react.md
Due: eslint --fix, prettier --write

fix: Fix Beijing latlng for map
  src/pages/around-the-world/china/beijing.md
Due: prettier --write

Fix Beijing lat/lng for map (#11)
  src/pages/around-the-world/china/beijing.md
Due: prettier --write

feat: add gitub actions til
  src/pages/til/__DRAFT__github-actions.md
  src/pages/til/github-actions.md
  src/pages/til/using-a-monorepo-for-your-custom-github-actions.md
Due: prettier --write

Add github actions til (#12)
  src/pages/til/__DRAFT__github-actions.md
  src/pages/til/github-actions.md
  src/pages/til/using-a-monorepo-for-your-custom-github-actions.md
Due: prettier --write

fix: Fix typo
  src/pages/til/using-a-monorepo-for-your-custom-github-actions.md
Due: prettier --write

feat: add bugsnag stepthrough as side project
  src/components/card.tsx
  src/pages/my-work.tsx
  src/pages/my-work/projects/pocket.md
  src/pages/my-work/projects/rex.md
  src/pages/my-work/projects/spoke.md
  src/pages/my-work/projects/sydney-opera-house.md
  src/pages/my-work/projects/vivid-and-luna.md
  src/pages/my-work/side-projects/bugsnag-stepthrough.md
Due: eslint --fix, prettier --write

Add bugsnag stepthrough as side project (#15)
  src/components/card.tsx
  src/pages/my-work.tsx
  src/pages/my-work/projects/pocket.md
  src/pages/my-work/projects/rex.md
  src/pages/my-work/projects/spoke.md
  src/pages/my-work/projects/sydney-opera-house.md
  src/pages/my-work/projects/vivid-and-luna.md
  src/pages/my-work/side-projects/bugsnag-stepthrough.md
Due: eslint --fix, prettier --write

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

Upgrade dependencies (#16)
  package.json
  yarn.lock
Due: prettier --write

fix: move twemoji parser to cover all page contents
  gatsby-node.js
  package.json
  src/layouts/index.tsx
  src/theme/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

Move twemoji parser to cover all page contents (#17)
  gatsby-node.js
  package.json
  src/layouts/index.tsx
  src/theme/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: attempt to fix a11y issue by adding tabindex to content area
  src/layouts/index.tsx
Due: eslint --fix

Attempt to fix a11y issue by adding tabindex to content area (#18)
  src/layouts/index.tsx
Due: eslint --fix

fix: another additional attempt to fix a11y issues regarding main content scrolling
  src/layouts/index.tsx
Due: eslint --fix

fix: add focus style to stage + misc cleanups
  src/layouts/index.tsx
Due: eslint --fix

Another additional attempt to fix a11y issues regarding main content scrolling (#19)
  src/layouts/index.tsx
Due: eslint --fix

feat: add til about vscode extension development
  src/pages/til/vscode-extension-development-in-react.md
Due: prettier --write

Add til about vscode extension development (#20)
  src/pages/til/vscode-extension-development-in-react.md
Due: prettier --write

fix: fix wrong date on relabs entry
  src/pages/curriculum-vitae/rexlabs.md
Due: prettier --write

feat: add lightkeepr entry to side projects
  src/pages/my-work/side-projects/lightkeepr.md
Due: prettier --write

docs: add debugging ts performance issues til
  .github/workflows/main.yml
  .github/workflows/pr.yml
  src/pages/til/debugging-typescript-performance-issues.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{md,json,yml}
