Repository julianburr/julianburr.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: upgrade dependencies
  .github/workflows/main.yml
  .github/workflows/pr.yml
  package.json
  src/pages/my-work.tsx
  src/templates/page-gallery.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: eslint + ts issues
  .github/workflows/main.yml
  .github/workflows/pr.yml
  src/components/seo.tsx
  src/components/world-map.tsx
  src/index.d.ts
  src/templates/page-blog.tsx
  src/templates/page-gallery.tsx
  src/theme/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: update md
  src/pages/til/debugging-typescript-performance-issues.md
Due: prettier --write

Add "debugging ts performance issues" TIL (#31)
  .github/workflows/main.yml
  .github/workflows/pr.yml
  package.json
  src/components/seo.tsx
  src/components/world-map.tsx
  src/index.d.ts
  src/pages/my-work.tsx
  src/pages/til/debugging-typescript-performance-issues.md
  src/templates/page-blog.tsx
  src/templates/page-gallery.tsx
  src/theme/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

docs: add meetup and ddd talks
  src/images/icons/conference.svg
  src/pages/my-work.tsx
  src/pages/my-work/talks/a-brief-history-of-server-side-rendering.md
  src/pages/my-work/talks/yes-your-browser-can-do-that-probably.md
  src/pages/til/__DRAFT__my-love-hate-relationship-with-tailwind.md
  src/pages/til/__DRAFT__quick-take-on-why-good-ci-cd-matters.md
  yarn.lock
Due: eslint --fix, prettier --write

docs: add typescript talk
  src/pages/my-work/projects/glimpse.md
  src/pages/my-work/talks/typescript-an-introduction-and-how-to-make-it-work-in-your-team.md
  src/pages/til/__DRAFT__quantum-bites-the-basics.md
Due: prettier --write

fix: fix canva link
  src/pages/my-work/talks/the-power-of-toolkits.md
  src/pages/my-work/talks/yes-your-browser-can-do-that-probably.md
Due: prettier --write

feat: add web directions summit talk slides
  src/pages/my-work/talks/dejavu-how-server-components-change-the-game.md
Due: prettier --write

docs: fix date of quantum basics til
  src/pages/til/__DRAFT__quantum-bites-the-basics.md
Due: prettier --write

fix: misc fixes and adjustments
  .nvmrc
  src/pages/curriculum-vitae.tsx
  src/pages/curriculum-vitae/rexlabs.md
  src/pages/curriculum-vitae/vouch.md
  src/pages/my-work.tsx
  src/pages/my-work/blog/dejavu-how-server-components-will-change-the-game.md
  src/pages/my-work/talks/dejavu-how-server-components-change-the-game.md
  src/pages/my-work/talks/yes-your-browser-can-do-that-probably.md
Due: eslint --fix, prettier --write

docs: add sydjs slides
  static/web-apis-sydjs-2023-slides.pdf
Due: none

ops: adjust node version in workflows
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: prettier --write

docs: add sydjs talk
  src/pages/my-work/talks/web-apis-you-might-not-know.md
Due: prettier --write

docs: add talks + event data
  src/pages/my-work.tsx
  src/pages/my-work/talks/a-brief-history-of-server-side-rendering.md
  src/pages/my-work/talks/dejavu-how-server-components-change-the-game.md
  src/pages/my-work/talks/dont-stay-hydrated.md
  src/pages/my-work/talks/hocs-vs-render-props.md
  src/pages/my-work/talks/introduction-to-react-suspense.md
  src/pages/my-work/talks/is-it-a-bird-is-it-a-plane.md
  src/pages/my-work/talks/redux-is-dead-long-live-redux.md
  src/pages/my-work/talks/the-power-of-toolkits.md
  src/pages/my-work/talks/typescript-an-introduction-and-how-to-make-it-work-in-your-team.md
  src/pages/my-work/talks/web-apis-you-might-not-know.md
  src/pages/my-work/talks/why-react-suspense-will-be-a-game-changer.md
  src/pages/my-work/talks/yes-your-browser-can-do-that-probably.md
Due: eslint --fix, prettier --write

docs: add youtube video for ddd melbourne
  src/pages/my-work/talks/dont-stay-hydrated.md
  src/pages/my-work/talks/is-it-a-bird-is-it-a-plane.md
  src/templates/page-default.tsx
  static/dont-stay-hydrated-react-connection-2024-slides.pdf
Due: eslint --fix, prettier --write

docs: add slashnew to talks
  src/pages/my-work/talks/yes-your-browser-can-do-that-probably--slashnew-2024.md
Due: prettier --write

docs: add video to reactconnection talk
  src/pages/my-work/talks/dont-stay-hydrated.md
Due: prettier --write

docs: add recording to web directions summit talk
  src/pages/my-work/talks/dejavu-how-server-components-change-the-game.md
Due: prettier --write

fix: fix typo
  src/pages/my-work/talks/dejavu-how-server-components-change-the-game.md
  static/web-directions-summit-2023-cover.png
Due: prettier --write

docs: add web directions code talk
  src/pages/my-work/talks/web-apis-you-might-not-know.md
  src/pages/my-work/talks/yes-your-browser-can-do-that-probably--slashnew-2024.md
  src/pages/my-work/talks/yes-your-browser-can-do-that-probably--web-directions-code-2024.md
Due: prettier --write

docs: add quantum computing talks
  src/pages/my-work/talks/quantum-computing-for-classical-developers--wad-world-congress.md
  src/pages/my-work/talks/quantum-computing-for-classical-developers.md
Due: prettier --write

docs: add ../new youtube video
  src/pages/my-work/talks/yes-your-browser-can-do-that-probably--slashnew-2024.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{md,json,yml}
